# fly.toml app configuration file generated for fastpast-app on 2025-12-18T13:39:32+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fastpast-app'
primary_region = 'ams'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8000'
  NODE_ENV = 'production'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
  memory = '16gb'
  cpu_kind = 'shared'
  cpus = 8
  memory_mb = 16384
