# fly.toml app configuration file generated for fastpast-app on 2025-12-15

app = "fastpast-app"
primary_region = "ams"

[env]
  PORT = "8000"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
  memory = "2gb" # Increased memory for yt-dlp processing
  cpus = 1
